@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic);


/** VARIABLES */
:root{
     --color-primario: #0D6EFD;
     --color-secundario: #0B5ED7;
     --color-oscuro: #122936; 
}


/** GENERALES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.btn{
    background: var(--color-primario);
    color: #FFF;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 5px;
    transition: all .5s;
}

.btn:hover{
    transform: scale(1.1);
    background: var(--color-secundario);
}



/**--------------------  PRODUCTOS ------------------------ */

.productos{
    padding: 30px 100px;
}


/** CARD ------------------------ */

.card{
    background-color: #c0d2ec;
    /* border: 1px solid blue; */

    /* background: var(--color-oscuro); */

    width: 33%;
    height: 420px;
    /* overflow: hidden; */

    position: relative;
    
    /* float: left; */

    /* border: none;
    margin: 1px; */
}

.card::before{
    /* es la parte azul detras de la imagen */
    /* content: '';
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: var(--color-primario);
    transform: skewY(345deg);
    transition: all .5s; */
}

.card:hover::before{
    /* top: -70%;
    transform: skewY(390deg); */
}

.card .img-card{
    background-color: tomato;
    border: 1px solid green;
    
    width: 100%;

    /* Centrado */
    position: absolute; 
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card img{
    border: 1px solid red;
    /* tmaño de la imagen 70% */
    max-width: 70%;
    
    /* centra */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: all .5s; 
}

.card:hover .img-card img{
    max-width: 60%; 
}

.content-card{
    background-color: aqua;

    width: 100%;
    
    text-align: center;

    /* POSICION ABAJO */
    position: absolute;
    bottom: 12%;
    /* z-index: 1;  */
}

.content-card h3{
    font-size: 2vw;
    color: #FFF;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.content-card .price{
    font-size: 30px;
    color: #FFF;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.content-card .buy{  
    opacity: 0;
    padding: 10px 30px;
    margin-top:15px;
    /* Lo pone abajo la letra compra */
    position: relative;
    top: 200px;
}

.card:hover .content-card .buy{
    top: 20px;
    opacity: 1;
}

