/** VARIABLES */
:root{
     --text-color: #1D1D1F;
     --text-color-claro: #86868B;
     --color-enlaces: #06C;
     --color-background: #FAFAFA;
}


/** ESTILOS DE SCROLL BAR */
body::-webkit-scrollbar{
     width: 8px;
}

body::-webkit-scrollbar-thumb{
     background: var(--text-color);
}

/** GENERALES  */
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;
}

body{
     background: var(--color-background);
}

html{
     scroll-behavior: smooth;
}

a{
     text-decoration: none;
}

h1, h2, h3{
     line-height: 1.2;
     font-weight: 600;
     color: var(--text-color);
     text-align: center;
}

h1{
     font-size: 48px;
     margin-top: 10px;
}

h2{
     font-size: 24px;
}

h3{
     font-size: 21px;
     font-weight: 400;
     color: var(--text-color-claro);
     margin-top: .5em;
}

img{
     width: 100%;
}

section{
     position: relative;
     width: 100%;
     height: 100vh;
}


.enlace-info{
     font-size: 21px;
     margin-top: 30px;
     color: var(--color-enlaces);
}

.enlace-info:hover{
     text-decoration: underline;
}

/** ------------------------- MUSIC/TV -------------------------  */

.musictv{
     padding: 30px;
}

.musictv .text-container{
     background: #000;
}

.musictv .text{
     height: 50%;
     width: 50%;
     padding: 60px 0 0 0;
     text-align: center;
     flex-direction: column;
}

.musictv .imagen{
     height: 100%;
     align-items: flex-end;
}

.musictv .text-container .icon{
     width: 100px;
     height: 40px;
}

.musictv .text-container h3{
     color:  #FFF;
}

.musictv .text-container .enlace-info{
     margin: 10px 0 30px 0;
}

.musictv .ct2{
     background: #FFF;
}

.musictv .ct2 .icon{
     width: 150px;
}

.musictv .ct2 h3{
     color:  var(--text-color);
}



/** ESTILOS GRID  */
.grid{
     display: grid;
     grid-template-columns: repeat(12, 1fr);
     gap: 20px;
     height: 100%;
}

.grid div{
     display: flex;
     justify-content: center;
     align-items: center;
}

.span5{
     grid-column: span 5;
}

.span6{
     grid-column: span 6;
}

.span7{
     grid-column: span 7;
}

.span9{
     grid-column: span 9;
}

.span12{
     grid-column: span 12;
}

.text-container{
     flex-direction: column; 
 }
 



