.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.grid .item{
    background-color: violet; 

    /* POSICIONAR ELEMENTOS */
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 3;


    /* ATAJO 1: Valores de start y end */
    grid-column: 1 / -1;
    grid-row: 3 / 4;



    /* ATAJO 2 
    -Primer parametro row start
    -Segundo parametro column start
    -Tercer parametro row end
    -Cuarto parametro column end
    */
    grid-area: 3 / 2 / 5 / -1;
    


    /* ATAJO 3: EXPANDIR COLUMNAS Y FILAS */
    grid-column: span 3;
    grid-row: span 3;

    
}