.grid{
    display: grid;
    gap: 20px;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 100px 200px 100px;


    /* GRID IMPLICITA */
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;


    /* Especifico direccion */
    grid-auto-flow: row dense;
}

.grid .expand2{
    grid-column: span 2;
    background: lightseagreen;
}

.grid .expand3{
    grid-column: span 3;
    background: violet;
}